
/* ------------------- MAIN LAYOUT ------------------- */

/* ------ FONTS --------- */
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    --font-default: 'Nunito Sans', 'Noto Color Emoji', sans-serif;
    --bold-font: inherit;
    --font-monospace: 'DM Mono', monospace;
    --ribbon-background: transparent;
    --ribbon-background-collapsed: transparent;
    --file-line-width: 1000px;
    --shadow-ui: 0px 1px 2px rgba(0, 0, 0, 0.028),
    0px 3.4px 6.7px rgba(0, 0, 0, .042);
}

/* ----- ANIMATIONS ----- */
body {
--anim-motion-swing: cubic-bezier(0.25, 0.05, 0.55, 0.95);
}


/* ----------- SIDEBAR --------------- */



/* make scrollbars invisible */
body:not(.native-scrollbars) ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* remove background */
.workspace-tabs .workspace-leaf {
    background-color: transparent;
}



/* ---- REMOVE TAB HEADER ----- */
.workspace-tab-header-container {
    background-color: transparent;
    border: none;
}

/* fix background for ribbon button */
.workspace-ribbon.mod-left:before {
    background-color: transparent;
    border: none;
}

/* ---- VAULT NAME ---- */
body {
    --vault-name-font-size: var(--h2-size);
    --vault-name-font-weight: var(--h2-weight);
}

.nav-folder.mod-root > .nav-folder-title .nav-folder-title-content:before {
    content: "💎";
    font-size: inherit;
    font-weight: 500;
    color: var(--color-accent-2);
}

.nav-folder.mod-root > .nav-folder-title {
    padding: 0px 6px;
    margin-bottom: 8px;
}
.nav-folder.mod-root > .nav-folder-title:hover {
    font-size: var(--h2-size);
    padding: 6px;
    color: var(--text-normal);
    transition: .25s;
}

/* ----- FOLDERS -----*/

/* --- ALX FOLDER NOTE LINKS --- */
.nav-folder.alx-folder-with-note>.nav-folder-title>.nav-folder-title-content {
text-decoration-line: var(--link-decoration);
text-decoration-color: var(--link-color);
text-decoration-thickness: var(--link-decoration-thickness);
color: var(--link-color);
}

/* --- FILES --- */

.nav-file-title {
    font-weight: var(--font-light);
    border-radius: 0px;
   margin-bottom: 0px;
   transition: ease-out padding 70ms, font-size 65ms;
   padding: 6.6px;
   font-size: 0.86em;
   transition: .25s !important;
}
.nav-file-title:hover {
    background-color: hsl(var(--color-accent-hsl), 0.1) !important;
    border-left: 4px var(--interactive-accent) solid;
    transition: .25s;
}
.nav-folder .nav-file {
    border-radius: 0px;
}
.nav-file-title:not(.is-mobile):hover {
    padding: 6.8px;
    font-size: 0.87em;
    transition: .25s;
}
.nav-file-title.is-active {
    background-color: transparent;
    border-left: 3px var(--interactive-accent) solid;
}

.nav-file-title:before {
content: "📄";
padding-right: 8px;
font-size: 1.2em;
font-family: 'Noto Emoji';
}

/* -- SPECIAL FILE ICONS -- */
.nav-file-title[data-path*="home" i]:before,
.nav-file-title[data-path*="house" i]:before {
    content: "🏠";
}
.nav-file-title[data-path*="task" i]:before,
.nav-file-title[data-path*="to do" i]:before,
.nav-file-title[data-path*="to-do" i]:before {
    content: "✅";
}
.nav-file-title[data-path*="wiki" i]:before,
.nav-file-title[data-path*="world" i]:before,
.nav-file-title[data-path*="globe" i]:before {
    content: "🌐";
}

.nav-file-title[data-path*="data" i]:before,
.nav-file-title[data-path*="dev" i]:before,
.nav-file-title[data-path*="code" i]:before,
.nav-file-title[data-path*="program" i]:before {
    content: "🔌";
}
.nav-file-title[data-path*="school" i]:before,
.nav-file-title[data-path*="homework" i]:before,
.nav-file-title[data-path*="univesity" i]:before,
.nav-file-title[data-path*="academ" i]:before,
.nav-file-title[data-path*="study" i]:before,
.nav-file-title[data-path*="exam" i]:before
 {
    content: "🎓";
}
.nav-file-title[data-path*="archive" i]:before,
.nav-file-title[data-path*="library" i]:before,
.nav-file-title[data-path*="book" i]:before,
.nav-file-title[data-path*="novel" i]:before,
.nav-file-title[data-path*="story" i]:before,
.nav-file-title[data-path*="chapter" i]:before,
.nav-file-title[data-path*="history" i]:before,
.nav-file-title[data-path*="doc" i]:before,
.nav-file-title[data-path*="ancient" i]:before
 {
    content: "📜";
}
.nav-file-title[data-path*="daily" i]:before,
.nav-file-title[data-path*="calendar" i]:before,
.nav-file-title[data-path*="schedule" i]:before,
.nav-file-title[data-path*="event" i]:before {
    content: "📅";
}

/* get rid of bottom border for last file in vault or folder */
.nav-folder-children .nav-folder .nav-file:last-child {
border-bottom: none;
}

/* remove note icons in the STARRED panel */
.workspace-leaf-content[data-type="starred"] .nav-file-title::before {
display: none;
}



/* --- FOLDERS --- */

/* make folders look like panels */
.nav-folder.mod-root .nav-folder {
    border: 1px solid var(--background-modifier-border);
    width: 100%;
    padding: 4px;
    margin-bottom: -1px;
    background-color: var(--background-secondary-alt);
}


/* round first the top corners of first file */
.nav-folder-children .nav-folder:nth-child(2) {
    border-top-right-radius: var(--radius-s) !important;
    border-top-left-radius: var(--radius-s) !important;
}

/* style all files */
.nav-folder-children .nav-file {
    border-right: 1px solid var(--background-modifier-border);
    border-left: 1px solid var(--background-modifier-border);
    border-top: 1px solid var(--background-modifier-border);
    margin: 0px;
    background-color: var(--background-secondary-alt);
} 
.nav-folder-children .nav-file:last-child {
border-bottom: 1px solid var(--background-modifier-border);
}
.nav-folder-children .nav-folder .nav-file {
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid var(--background-modifier-border);
} 

.nav-folder-title:not(.is-mobile):hover {
    padding: 7.5px;
    font-size: 0.925em;
    transition: .1s;
}
.nav-folder-title {
        padding: 7px;
        font-size: 0.9em;
        background-color: transparent !important; /* remove usual hover background for folders */
        transition: .1s;
}

/* subfolder panel style */
.nav-folder.mod-root .nav-folder .nav-folder {
border-radius: var(--radius-s);
margin: 7px 0px;
width: 98%;
}



/* -- FOLDER ICONS -- */

.nav-folder .nav-folder-title-content:before {
    content: "📖"; 
    padding-right: 8px;
    font-family: 'Noto Emoji';
    font-size: 1.6em;
    display: inline-block;
    color: inherit;
}
.nav-folder.is-collapsed .nav-folder-title-content:before {
content: "📒" ;    
padding-right: 600;
}
.nav-folder.mod-root .nav-folder .nav-folder .nav-folder-title-content:before {
    content: "📑"; 
}
.nav-folder.mod-root .nav-folder .nav-folder .nav-folder .nav-folder-title-content:before {
    content: "🔖"; 
}
.nav-folder-collapse-indicator {
    display: none;
}




/* ------------- NAVIGATION, SETTINGS, AND UI TWEAKS ------------- */


body {
    --nav-indentation-guide-width: 0px;
    --modal-max-width: 100%;
    --modal-width: 100%;
    --modal-height: 100%;
    --modal-max-width-narrow: 75%;
    --modal-radius: 0px;
    --modal-max-height: 100;
    --radius-s: 7px;
    --radius-m: 14px;
    --radius-l: 19px;
    --radius-x: 28px;
    --icon-m-stroke-width: 1.3px;
    --icon-s-stroke-width: 1.3px;
    --icon-l-stroke-width: 1.3px;
    --slider-track-height: 1.2px;
    --tab-curve: 0px;
    --tab-radius-active: var(--radius-s);
    --tab-background-active: var(--background-secondary-alt);
    --tab-text-color-focused-active-current: var(--color-accent-1);
    --tab-divider-color: transparent;
    --tab-outline-width: 0.8px;
}

/* notices  */
.notice {
background-color: var(--color-accent-1) !important;
}

/* fix tab spacing */
.workspace-tab-header {
    margin: 0.1em;
}
.workspace-tab-header-container {
    margin-bottom: 1em;
}

.modal.mod-settings {
    width: 100%;
}
.nav-files-container {
    padding: 16px 16px 0px px;
}
 
.side-dock-settings {
    margin-bottom: 0px;
}

.cm-line {
transition: .25s;
}

/* ------ SETTINGS ------ */
.setting-item {
    border: solid 1px var(--background-modifier-border);
    border-radius: 0.6em;
    margin: 15px 0px;
    padding: 15px;
    font-family: var(--h1-font);
}
.is-phone .setting-item {
    border-radius: 0px !important;
}
.vertical-tab-nav-item.is-active {
    box-shadow: var(--input-shadow); 
    color: inherit;
}
.setting-item:first-child {
    border-top: 1px solid var(--background-modifier-border);
    padding-top: 10px;
}
.setting-item-heading:first-child {
    border-top: none;
}
.setting-item-description {
color: var(--text-muted);
font-style: italic;
font-family: var(--font-default);
}

.setting-item-heading .setting-item-name {
    font-size: var(--h2-size);
    font-family: var(--h1-font);
    text-transform: capitalize;
}
.setting-item-heading {
border: none;
background: transparent;
box-shadow: none;
}

.vertical-tab-header-group-title {
    font-size: var(--h2-size);
    font-family: var(--h1-font);
    padding-left: 2px;
    color: var(--text-normal);
    text-align: center;
}
.vertical-tab-nav-item {
    color: var(--text-muted);
    border-bottom: 0.8px solid var(--background-modifier-border);
    border-radius: 0px;
    margin: 0px;
    padding: 4px;
    transition: padding .1s, background-color .25s, border-left .25s !important;
}
.vertical-tab-nav-item.is-active {
   background-color: transparent;
   box-shadow: none;
   font-size: 1em;
   padding: 5px;
   border-left: 3px var(--interactive-accent) solid;
}
.vertical-tab-nav-item:hover, .vertical-tab-nav-item.is-active:hover {
    background-color: hsl(var(--color-accent-hsl), 0.1);
    border-left: 4px var(--interactive-accent) solid;
    transition: background-color .25s;
 }
 .vertical-tab-nav-item:last-child {
border-bottom: none;
}
.modal.mod-settings .vertical-tab-header {
    max-width: 400px;
    min-width: 300px;
}
.modal-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.559), black);
}
.vertical-tab-header-group-items:not(.is-mobile) {
    background-color: var(--background-secondary-alt);
    border: 1px solid var(--background-modifier-border);
    border-radius: var(--radius-m);
    padding: 0.5em 1em 0.5em 1em;
}
.vertical-tab-header {
    background-color: var(--background-primary);
    border-right: none !important;
    padding: 10px 0px 0px 15px;
}

.checkbox-container.is-enabled {
    background-color: var(--color-green);
    }


/* community modals */
.mod-community-modal .modal-sidebar .setting-item {
    background-color: transparent;
    box-shadow: none;
}
.community-modal-search-results {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    padding: var(--size-4-3);
}
.community-modal-search-results-wrapper {
    border: none;
}
.community-item-name {
    font-size: var(--font-ui-medium);
    font-family: var(--h1-font);
}
body {
    --modal-community-sidebar-width: 25em;
}

.modal.mod-community-theme .community-item.mod-active {
    order: -1;
}
.community-item {
    box-shadow: var(--shadow-ui);
}
.is-phone .community-item {
    box-shadow: none;
}



/* ------ HIDE NOTE TITLE HEADER ----- */
.view-header-title {
font-size: var(--h6-size);
}
.view-header-title-parent {
    color: var(--text-normal);
}

/* make the note title header overlap with the main note pane */
.view-content {
   margin-top: 0px !important;
}



/* ------ SIDE RIBBON ------- */


/* ---- BUTTONS ---- */
.nav-buttons-container {
    padding: 0px;
    width: fit-content;
    gap: 8px;
    opacity: 0;
    height: 0px;
    transition: opacity .25s, height .25s, padding .25s;
    margin: 0px;
}
.nav-buttons-container:hover {
    padding: 9px;
    width: fit-content;
    gap: 8px;
    opacity: 1;
    height: auto;
    transition-delay: .2s;
}
.clickable-icon.nav-action-button {
    padding: 7px;
    border: 1px solid var(--background-modifier-border);
    background-color: var(--background-primary);
    opacity: 1;
}
.workspace-ribbon.is-collapsed {
opacity: 0;
max-width: 0px;
transition: opacity .1s, max-width .1s !important;
}
.workspace-ribbon.is-collapsed:hover {
    opacity: 1;
    max-width: 5em;
}
.workspace-ribbon {
    border: none;
}
.workspace-leaf-resize-handle {
    border-width: 0px !important;
}


/* --------------- COLOR SCHEME -------------------- */
.theme-light, .theme-dark {
    --accent-h: 181 !important;
    --accent-s: 100% !important;
    --accent-l: 35% !important;
}
.theme-light, .is-mobile.theme-light {
    --color-red-rgb: 255, 77, 58;
    --color-red: #ff4d3a;
    --color-green-rgb: 125, 207, 43;
    --color-green: #7dcf2b;
    --color-orange-rgb: 246, 156, 0;
    --color-orange: #f69c00;
    --color-yellow-rgb: 232, 201, 0;
    --color-yellow: #e8c900;
    --color-cyan-rgb: 0, 206, 203;
    --color-cyan: #00cecb;
    --color-blue-rgb:0, 155, 227;
    --color-blue: #009be3;
    --color-purple-rgb: 180, 90, 245;
    --color-purple: #b45af5;
    --color-pink-rgb: 230, 106, 180;
    --color-pink: #e66ab4;
    --color-base-00: #ffffff;
    --color-base-05: #fcfcfc;
    --color-base-10: #fafafa;
    --color-base-20: #f6f6f6;
    --color-base-25: #efefef;
    --color-base-30: #9f9f9f66;
    --color-base-35: #dedede;
    --color-base-40: #d7d7d7;
    --color-base-50: #878787;
    --color-base-60: #939393;
    --color-base-70: #7f7f7f;
    --color-base-100: #252525;
    --text-highlight-bg: rgba(255, 208, 0, 0.4);
    --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
    --color-accent-3: hsl(calc(var(--accent-h) + 35), var(--accent-s), calc(var(--accent-l) + 12%));
    --color-accent-1: hsl(calc(var(--accent-h) - 4), var(--accent-s), calc(var(--accent-l) - 2%));
    --color-accent-2: hsl(calc(var(--accent-h) + 2), calc(var(--accent-s) + 5%), calc(var(--accent-l) + 4%));
    --workspace-background: linear-gradient(0deg, rgb(255, 208, 120), rgb(177, 226, 233));
  }
  .theme-dark, .is-mobile.theme-dark {
    color-scheme: dark;
    --highlight-mix-blend-mode: lighten;
    --mono-rgb-0: 0, 0, 0;
    --mono-rgb-100: 255, 255, 255;
    --color-red-rgb: 255, 77, 58;
    --color-red: #ff4d3a;
    --color-green-rgb: 125, 207, 43;
    --color-green: #7dcf2b;
    --color-orange-rgb: 246, 156, 0;
    --color-orange: #f69c00;
    --color-yellow-rgb: 232, 201, 0;
    --color-yellow: #e8c900;
    --color-cyan-rgb: 0, 206, 203;
    --color-cyan: #00cecb;
    --color-blue-rgb:0, 155, 227;
    --color-blue: #009be3;
    --color-purple-rgb: 180, 90, 245;
    --color-purple: #b45af5;
    --color-pink-rgb: 230, 106, 180;
    --color-pink: #e66ab4;
    --color-base-00: #1b1f25;
    --color-base-10: #22282d;
    --color-base-20: #28313b;
    --color-base-25: #3b454f;
    --color-base-30: #21242c;
    --color-base-35: #3d464e;
    --color-base-40: rgb(63, 79, 93);
    --color-base-50: rgb(113, 132, 146);
    --color-base-60: rgb(136, 150, 164);
    --color-base-70: #9bacb8;
    --color-base-100: #c8d4e6;
    --color-accent-hsl: var(--accent-h),
              var(--accent-s),
              var(--accent-l);
    --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    --color-accent-1: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 3.8%));
    --color-accent-2: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 3.8%));
    --background-modifier-form-field: var(--color-base-25);
    --background-secondary-alt: var(--color-base-30);
    --interactive-normal: var(--color-base-30);
    --interactive-hover: var(--color-base-35);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
    --background-modifier-cover: rgba(10, 10, 10, 0.4);
    --text-highlight-bg: rgba(255, 208, 0, 0.4);
    --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
    --text-selection: hsla(var(--interactive-accent-hsl), 0.25);
    --input-shadow: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09),
          0 2px 4px 0 rgba(0,0,0,.15),
          0 1px 1.5px 0 rgba(0,0,0,.1),
          0 1px 2px 0 rgba(0,0,0,.2),
          0 0 0 0 transparent;
    --input-shadow-hover: inset 0 0.5px 1px 0.5px rgba(255, 255, 255, 0.16),
          0 2px 3px 0 rgba(0,0,0,.3),
          0 1px 1.5px 0 rgba(0,0,0,.2),
          0 1px 2px 0 rgba(0,0,0,.4),
          0 0 0 0 transparent;
    --shadow-s: 0px 1px 2px rgba(0, 0, 0, 0.121),
          0px 3.4px 6.7px rgba(0, 0, 0, 0.179),
          0px 15px 30px rgba(0, 0, 0, 0.3);
    --shadow-l: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071),
          0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
          0px 30px 90px rgba(0, 0, 0, 0.2);
    --background-modifier-border: rgba(239, 246, 255, 0.11);
  }

  /* ---------- TYPOGRAPHY ---------- */

  /* ---- PARAGRAPHS and DROP CAPS --- */
  p {
    line-height: 2em;
    text-indent: 0.25in;
  }
 
/* --- DROP CAPS for QUOTE CALLOUTS and CUSTOM DIV CLASS --- */
 .callout[data-callout="quote"]:first-of-type:first-letter,
 .callout[data-callout="cite"]:first-of-type:first-letter,
 .drop-cap:first-of-type:first-letter {
    float: left;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 70px;
    line-height: 50px;
    padding-top: 4px;
    padding-right: 8px;
    display: block;
  }

/* make exception for database plug-in and links regarding text indent */
.database-plugin__tbody * {
    text-indent: 0px !important;
}

/* -- MAKE PARAGRAPH and LINE SPACING EVEN IN READING AND EDIT MODES */
.markdown-preview-view br, .markdown-source-view br {
    content: '';
    display: block;
    margin-top: 10px;
}

.markdown-source-view.mod-cm6 .cm-line {
    padding-top: 10px !important;
    line-height: 2em !important;
}

/* paragraphs in callouts and blockquotes */
.callout p, .markdown-rendered blockquote p {
    text-indent: 0px;
}
/* -------- BOLD TEXT ------- */
b, strong, .cm-strong {
    font-family: var(--bold-font);
}
/* ----- HEADINGS ----- */
body {
    --h1-font: 'Merriweather Sans', 'Book Antiqua', 'Noto Color Emoji';
    --h2-font: 'Merriweather Sans', 'Book Antiqua', 'Noto Color Emoji';
    --h3-font: 'Merriweather Sans', 'Book Antiqua', 'Noto Color Emoji';
    --h4-font: 'Merriweather Sans', 'Book Antiqua', 'Noto Color Emoji';
    --h5-font: 'Merriweather Sans', 'Book Antiqua', 'Noto Color Emoji';
    --h6-font: 'Merriweather Sans', 'Book Antiqua', 'Noto Color Emoji';
    --h1-size: 2.2em;
    --h2-size: 1.87em;
    --h3-size: 1.57em;
    --h4-size: 1.35em;
}
.markdown-rendered h1, .markdown-rendered h2, .markdown-rendered h3, .markdown-rendered h4, .markdown-rendered h5, .markdown-rendered h6, .cm-s-obsidian .HyperMD-header {
    margin: 2em 0px 0.8em 0px;
}
.cm-s-obsidian .HyperMD-header {
    line-height: 2.5em;
}
.markdown-rendered h1, .HyperMD-header-1 {
    text-align: center;
}
/* ---------- LISTS ---------- */
body {
    --list-bullet-size: 0.45em;
    --list-marker-color: var(--color-cyan);
    --list-marker-color-hover: var(--color-yellow);
    --checkbox-border-color: var(--color-red);
}   

/* --- CHECKBOXES --- */
body {
    --checkbox-size: 18px;
    --checklist-done-decoration: none;
    --checkbox-color: transparent;
    --checkbox-radius: var(--radius-m);
    --checkbox-border-color: var(--color-red);
}



input[type=checkbox]:after {
    content: "";
    top: -1.3px;
    left: -1.3px;
    position: absolute;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    display: block;
    background-color: var(--checkbox-border-color);
    -webkit-mask-position: 52% 52%;
    -webkit-mask-size: 65%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
}
input[type=checkbox]:checked:after {
    background-color: var(--color-green);
    -webkit-mask-size: 60%;
    top: -1.5px;
    left: -1.5px;
}
input[type=checkbox]:checked {
border-color: var(--color-green);
border-width: 1.5px;
background-color: rgba(var(--color-green-rgb), 0.1);
}
input[type=checkbox]:checked:hover {
    border-color: var(--color-green);
    border-width: 1.5px;
    background-color: rgba(var(--color-green-rgb), 0.35);
}
input[type=checkbox] {
    border-width: 1.3px;
    background-color: rgba(var(--color-red-rgb), 0.1);
    transition: .25s;
}
input[type=checkbox]:hover {
    border-width: 1.3px;
    background-color: rgba(var(--color-red-rgb), 0.35);
    border-color: var(--color-red);
    transform: scale(1.07);
}





/* --- RAINBOW LIST COLORS --- */
li {
    line-height: 2em;
    --list-marker-color: var(--color-cyan);
}
li li, .cm-list-2 {
    --list-marker-color: var(--color-blue);
}
li li li, .cm-list-3 {
    --list-marker-color: var(--color-purple);
}
li li li li  {
    --list-marker-color: var(--color-pink);
}
li li li li li  {
    --list-marker-color: var(--color-red);
}
li li li li li li  {
    --list-marker-color: var(--color-orange);
}
li li li li li li li  {
    --list-marker-color: var(--color-yellow);
}
li li li li li li li li {
    --list-marker-color: var(--color-green);
}
li li li li li li li li li  {
    --list-marker-color: var(--color-cyan);
}
li:hover .list-bullet:after {
   width: 0.6em;
   height: 0.6em;
}
.list-bullet:after {
    transition: .1s;
}
  /* ----- INLINE TITLE ----- */
  .inline-title {
    text-align: center;
    font-size: 2.5em;
  }

  /* --- CUSTOM TITLE ICONS --- */
  .icon .inline-title::first-letter {
    font-size: 1em;
    border: 1px solid var(--background-modifier-border);
    border-radius: var(--radius-l);
    margin-right: 0.3em;
    padding: 15px;
    font-family: 'Noto Color Emoji';
    background-color: var(--background-secondary-alt);
    box-shadow: var(--shadow-ui) inset, var(--shadow-ui);
  }
.icon .inline-title {
    margin-bottom: 0.5em;
}

/* ----- BLOCKQUOTES ----- */

.markdown-rendered blockquote {
    border-top: 1px var(--interactive-accent) solid;
    border-bottom: 1px var(--interactive-accent) solid;
    border-left: none !important;
    padding: 1em 0.15em;
    width: fit-content;
    max-width: 80%;
    min-width: 50%;
    margin: 2.5em auto;
    font-size: 1em;
    font-style: italic;
    overflow: hidden;  
}

.markdown-rendered blockquote p {
line-height: 1.45em;
display: block;
margin: 0px auto;
width: fit-content;
max-width: 97%;
}

/* ------ CALLOUTS ------- */
body {
    --callout-bug: var(--color-pink-rgb);
    --callout-summary: var(--color-green-rgb);
    --callout-tip: var(--color-yellow-rgb);
    --callout-question: var(--color-yellow-rgb);
    --callout-error: var(--color-orange-rgb);
}
.callout-icon {
    --icon-size: 1.5em;
    padding-right: 1em;
}
.callout {
    border: 1px solid rgba(var(--callout-color), 0.35);
    border-radius: var(--radius-m);
    padding: 0;
    width:min-content;
    min-width: 60%;
    background-color: var(--background-secondary-alt);
    margin: 1.5em auto;
}


.callout-content p {
    margin: auto;
    display: block;
    width: fit-content;
    padding: 1em;
}
.callout-title-inner {
    display: block;
    margin: auto;
    width: fit-content;
    font-size: var(--h6-size);
    font-weight: var(--font-normal);
}
.callout-title {
    padding: 12px;
    background-color: rgba(var(--callout-color), 0.08);
    margin: 0px auto;
}

.callout[data-callout="success"], .callout[data-callout="check"], .callout[data-callout="done"] {
    --callout-color: var(--callout-success);
    --callout-icon: lucide-check-circle;
}
.callout[data-callout="abstract"], .callout[data-callout="summary"], .callout[data-callout="tldr"] {
    --callout-color: var(--callout-summary);
    --callout-icon: lucide-layout-list;
}
.callout[data-callout="failure"], .callout[data-callout="fail"], .callout[data-callout="missing"] {
    --callout-color: var(--callout-fail);
    --callout-icon: lucide-slash
}
.callout[data-callout="tip"], .callout[data-callout="hint"] {
    --callout-color: var(--callout-tip);
    --callout-icon: lucide-star;
}
.callout[data-callout="warning"], .callout[data-callout="caution"], .callout[data-callout="attention"] {
    --callout-color: var(--callout-warning);
    --callout-icon: lucide-alert-octagon;
}
.callout[data-callout="bug"] {
    --callout-color: var(--callout-bug);
    --callout-icon: lucide-server-crash;
}
.callout[data-callout="quote"], .callout[data-callout="cite"] {
    --callout-color: var(--callout-quote);
    --callout-icon: message-square;
    float: right;
    width: fit-content;
    margin: 1em;
    min-width: 20%;
    max-width: 35%;
    height:flex;
    width: flex;
    display: flexbox;
}

.callout[data-callout="quote"] .callout-title-inner, .callout[data-callout="cite"] .callout-title-inner {
margin: 0px;
}

/* ------- TAGS -------- */

/* reverse tag styling in database folder plugin */
.database-plugin__tbody a.tag {
    background-color: transparent;
    border: none;
}
a.tag {
    background-color: var(--background-secondary-alt);
    border-radius: vaR(--radius-s);
    color: var(--text-accent);
    font-size: 1em;
    padding: 2px 4px !important;
    font-family: var(--h1-font), 'Noto Color Emoji';
    border: 0.8px solid vaR(--background-modifier-border);
    }

.cm-hashtag {
     background-color: transparent !important;
    color: var(--text-accent);
    font-size: 1em;
    padding: 0px !important;
    font-family: var(--h1-font), 'Noto Color Emoji';
}

/* CUSTOM TAG ICONS */

a.tag[href*="#note"]::before {
    content: '📝';
    display: inline;
    padding: 0px 4px 0px 0px;
}
a.tag[href*="character"]::before,
a.tag[href*="person"]::before {
    content: '👤';
    display: inline;
    padding: 0px 4px 0px 0px;
}
a.tag[href*="important"]::before,
a.tag[href*="reminder"]::before {
    content: '❗';
    display: inline;
    padding: 0px 4px 0px 0px;
}
a.tag[href*="task"]::before,
a.tag[href*="to-do"]::before {
    content: '✅';
    display: inline;
    padding: 0px 4px 0px 0px;
}
a.tag[href*="1"]::before,
a.tag[href*="priority"]::before {
    content: '🥇';
    display: inline;
    padding: 0px 4px 0px 0px;
}
a.tag[href*="2"]::before {
    content: '🥈';
    display: inline;
    padding: 0px 4px 0px 0px;
}
a.tag[href*="3"]::before {
    content: '🥉';
    display: inline;
    padding: 0px 4px 0px 0px;
}
a.tag[href*="optional"]::before {
    content: '⭕';
    display: inline;
    padding: 0px 4px 0px 0px;
}
a.tag[href*="idea"]::before,
a.tag[href*="concept"]::before,
a.tag[href*="plan"]::before
 {
    content: '🎨';
    display: inline;
    padding: 0px 4px 0px 0px;
}
a.tag[href*="trash"]::before,
a.tag[href*="rubbish"]::before,
a.tag[href*="scrapped"]::before
 {
    content: '🗑️';
    display: inline;
    padding: 0px 4px 0px 0px;
}
a.tag[href*="place"]::before,
a.tag[href*="region"]::before,
a.tag[href*="locale"]::before,
a.tag[href*="location"]::before
 {
    content: '🏞️';
    display: inline;
    padding: 0px 4px 0px 0px;
}
a.tag[href*="magic"]::before,
a.tag[href*="tip"]::before
 {
    content: '✨';
    display: inline;
    padding: 0px 4px 0px 0px;
}

/* ------- LINKS ------- */
body {
    --link-unresolved-color: var(--text-faint);
    --link-unresolved-decoration-color: var(--background-modifier-border-hover);
}

/* style links to look similar to Notion */
.internal-link, .external-link {
color: var(--text-normal);
text-decoration: underline var(--background-modifier-border) 1.5px;
text-underline-offset: 0.19em;
text-indent: 0px !important;
}

a {
    transition: .25s !important;
    font-family: var(--h1-font);
}

 .markdown-source-view.mod-cm6 .cm-underline {
    color: var(--text-normal);
    text-decoration: underline var(--background-modifier-border) 1.5px;
}
.internal-link:hover, .external-link:hover,
.markdown-source-view.mod-cm6 .cm-underline:hover {
color: var(--color-accent-2);
text-decoration: underline var(--color-accent-1) 2px;
}

 .internal-link::before, .external-link::before, .cm-underline::before {
    content: "🡥";
    margin-right: 0.3em;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 500;
    text-decoration: none;
    font-family: inherit, 'Noto Sans Symbols 2';
}
.internal-link.is-unresolved::before, .is-unresolved .cm-underline::before {
    content: "＋";
    margin-right: 0.25em;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Noto Sans JP';
}
.internal-link:hover::before, .external-link:hover::before {
    font-weight: 900;
}
/* make symbol exception for links inside page gallery or database folder table */
.page-gallery__fallback::before,
.page-gallery__image::before,
.database-plugin__tbody *::before  {
    display: none;
}
/* remove external link image */
.external-link {
    background-image: none;
    padding-right: unset;
}

/* ------ HIGHLIGHTS ------ */
.theme-light, .theme-dark {
    --text-highlight-bg: rgba(255, 200, 0, 0.459);
}
.cm-s-obsidian span.cm-formatting-highlight,
  .cm-s-obsidian span.cm-highlight,
  .markdown-rendered mark {
    padding: 3px 0.4em;
    border-radius: 6px;
    font-family: var(--h1-font);
    
 }

/* ------ BACKLINKS ----- */
.embedded-backlinks .backlink-pane > .tree-item-self {
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    font-family: var(--h1-font);
    width: fit-content;
    text-transform: capitalize;
}
.embedded-backlinks {
    border: none;
}
.embedded-backlinks .tree-item.search-result {
    border-radius: vaR(--radius-s);
    margin-bottom: 8px;
    padding: 7px;
    background-color: var(--background-secondary-alt);
    border: 1px solid var(--background-modifier-border);
    font-family: var(--h1-font);
    font-size: var(--h6-size);
}
.embedded-backlinks .search-result-file-match {
    font-family: var(--font-default);
    white-space: initial;
}

/* ------- LINE BREAKS | DIVIDERS ------- */

hr {
border-width: 1px !important;
margin: 1.5em 0px;
}

/* ----- FRONTMATTER and DATAVIEW ----- */
.frontmatter-container {
    transition: .5s;
    border-radius: var(--radius-s);
    border-color: transparent;
}
.frontmatter-container.is-collapsed .frontmatter-container-header {
 color: var(--text-normal);
 background-color: var(--background-secondary-alt);
 padding: 10px;
 border: 1px solid var(--background-modifier-border);
 border-radius: var(--radius-s);
}
.frontmatter-container .frontmatter-container-header {
    font-size: 1em;
    border-bottom: none;
}
.frontmatter-container:not(.is-collapsed) {
background-color: var(--background-secondary-alt);
 padding: 10px;
 border: 1px solid var(--background-modifier-border);
 
}
.frontmatter-container .frontmatter-section {
 background-color: var(--background-primary);
 padding: 10px;
 border: 1px solid var(--background-modifier-border);
 border-radius: var(--radius-s);
}

/* DATAVIEW */

.dataview.inline-field * {
background-color: transparent;
padding: 0px;
}
.dataview.inline-field-standalone-value {
    font-family: inherit;
    color: var(--text-faint);
}
.dataview.inline-field-key {
    background-color: transparent;
    font-family: inherit;
}
.dataview.inline-field-key::after {
    content: '|';
    font-weight: 100;
    color: var(--text-normal);
    padding: 0px 4px;
    font-family: 'Noto Sans Symbols', 'Noto Emoji';
}
.dataview.inline-field-value {
    font-family: inherit;
    color: var(--text-faint);
}

/* ---------- EMBEDS and OTHER ELEMENTS ---------- */

/* ------ IMAGES ------ */
 .view-content .markdown-rendered img {
    border-radius: var(--radius-s);
    box-shadow: var(--shadow-s);
    margin: 4em auto;
    display: block;
    max-width: 85%;
    transition: .25s;
}

.view-content img {
width: 80%;
border-radius: var(--radius-s);
    box-shadow: var(--shadow-s);
    margin: 1.2em auto;
    display: block;
    max-width: 85%;
    transition: .25s;
}
.markdown-rendered img:hover {
    box-shadow: var(--shadow-ui);
    transform: scale(1.1);
}

/* -- CUSTOM IMAGE ALTS --- */
.markdown-rendered img[alt*="right"] {
    display: flexbox;
    float: right;
    clear:right;
    max-width: 40%;
    margin-left: 1.5em;
}
.markdown-rendered img[alt*="left"] {
    display: flexbox;
    float: left;
    clear:left;
    max-width: 40%;
    margin-right: 1.5em;
}

/* ----- TABLES ------ */
body {
    --table-background: var(--background-secondary-alt);
    --table-border-width: 1px;
    --table-header-weight: normal;
    --table-header-font: 'Merriweather Sans';
}
tbody {
    padding: 10px !important;
    text-align: center;
    min-width: 150px;
    transition: .1s;
}
.markdown-rendered thead tr > th {
    background-color: var(--background-secondary) !important;
}
table {
    max-width: 95%;
    min-width: 50%;
    width: fit-content;
    margin: 2em auto;
    box-shadow: var(--shadow-s);
}
table > tbody > tr > td {
    transition: .25s;
}
table > tbody > tr > td:hover {
    border-left: 4px solid var(--interactive-accent) !important;
    padding: 12px;
}
.table-view-table > tbody > tr > td {
    text-align: center;
    padding: 10px !important;
    background-color: var(--background-secondary-alt) !important;
    border: 1px var(--background-modifier-border) solid;
}
.table-view-table > thead > tr > th {
    font-weight: inherit;
    font-size: inherit;
    border: 1px var(--background-modifier-border) solid;
}
.table-view-table {
    max-width: 95%;
    min-width: 50%;
    width: fit-content;
    margin: 2em auto;
    box-shadow: var(--shadow-s);
}
/* --------------- PLUG-INS AND CODE BLOCKS ------------ */

/* -------- PAGE GALLERY --------- */
.page-gallery {
    --gutter-size: var(--custom-gutter-size, 16px);
    --aspect-ratio: var(--custom-aspect-ratio, 1.618);
    --image-width: var(--custom-image-width, calc( (var(--fill-line-width, 700px) - (var(--columns) - 1) * var(--gutter-size)) / var(--columns)));
    --image-height: var(--custom-image-height, calc(var(--aspect-ratio) * var(--image-width)));
    --image-size: var(--custom-image-size, cover);
    --image-position: 50% 75%;
}
.block-language-page-gallery {
    margin: 2em 0px;
    width: 100%;
}
.page-gallery__image, .page-gallery__fallback {
    opacity: 1;
    box-shadow: none;
}
.page-gallery__image:hover, .page-gallery__fallback:hover {
box-shadow: var(--shadow-ui);
}
.page-gallery__fallback {
    background: var(--background-secondary) !important;
}
.page-gallery__tile {
    border: 1px solid var(--background-modifier-border);
    border-radius: var(--radius-m);
    padding: 8px 8px 8px 8px;
    height: flex;
    width: fit-content;
    flex-grow: 1;
    max-width: 20em;
    min-width: 12em;
    background-color: var(--background-secondary-alt);
    box-shadow: var(--shadow-ui);
}
.page-gallery__field {
    text-shadow: none;
    word-wrap: break-word;
    white-space: initial;
    margin-top: 8px;
}
.page-gallery__field a.tag {
    font-size: 0.85em;
}
.page-gallery__field:first-child {
margin-top: 10px;
}
.page-gallery__group-title {
    font-size: var(--h1-size);
    font-family: var(--h1-font);
    text-shadow: none;
    margin: 1em 0px 8px 0px;
}
.page-gallery__filter input {
width: 80%;
}
.page-gallery__filter {
    font-family: 'Noto Emoji';
    font-weight: 900;
    margin-bottom: 2em;
}
.page-gallery__filter-clear {
    filter: none;
    color: var(--text-normal);
    text-decoration: none;
}

/* ------ FOLDER NOTE OVERVIEW -------- */
.theme-light .alx-folderv .ant-card-bordered, .theme-dark .alx-folderv .ant-card-bordered {
    border: 1px solid var(--background-modifier-border);
    box-shadow: var(--shadow-ui);
    border-radius: var(--radius-s);
    background-color: var(--background-secondary-alt);
}
.ant-tag > * {
    border: none !important;
}
.ant-tag {
    border-radius: var(--radius-s) !important;
}




/* ----- GENERAL CODE BLOCKS ------ */

.markdown-rendered pre {
    border: 1px solid var(--background-modifier-border);
    box-shadow: var(--shadow-ui);
    padding: 2em;
}

.cm-s-obsidian .HyperMD-codeblock * {
    margin: 0px !important;
    padding: 0px !important;
    line-height: 1em !important;
}

.markdown-rendered code {
   color: var(--text-normal);
}

/* -------- MOBILE TWEAKS ----------- */

/* ------- SIDEBAR -------- */
.workspace-drawer-active-tab-header {
    font-weight: var(--h1-weight);
    font-family: var(--h1-font);
    background-color: var(--background-secondary-alt);
    padding: 10px;
    margin: 0.2em 0.8em;
    border: 1px solid var(--background-modifier-border);
    border-radius: var(--radius-s);
}
.workspace-drawer-header-switcher {
    font-family: var(--h1-font);
}


/* ---- EDIT NOTE BUTTON ----- */
/* -- From Material Flat theme --- */
body.is-phone .view-action:nth-last-of-type(4) {
    color: black;
    background-color: var(--color-accent-2);
    display: flex;
    padding: 0px;
    margin: 0;
    margin: 16px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: calc(100% - 44px - 16px);
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: var(--radius-m);
    top: calc(100vh - 44px - 42px - 16px);
}


.mobile-navbar {
background-color: var(--background-secondary-alt);
border-top: 1px solid var(--background-modifier-border);
box-shadow: var(--background-modifier-box-shadow) 0px 0px 15px 0px;
}

/* make callouts more readable */
.is-phone .callout {
    width: 100%;
}
.is-phone .callout[data-callout="quote"], .is-phone .callout[data-callout="cite"] {
    font-size: 0.75em;
}

.is-mobile {
  --icon-l-stroke-width: 1.3px;
  --icon-opacity: 1;
  --input-shadow: var(--shadow-ui);
  --input-font-weight: var(--font-medium);
  --input-border-width: 1px;
  --mobile-sidebar-max-width: 500px;
  --nav-item-color: var(--text-normal);
  --keyboard-background: var(--background-secondary-alt);
}

.mobile-toolbar-options-container {
    border: 1px var(--background-modifier-border) solid;
    margin: 0.4em;
    border-radius: var(--radius-s);
    width: 97%;
    background-color: var(--background-secondary-alt);
    box-shadow: var(--shadow-ui);
}
.mobile-toolbar {
    box-shadow: var(--shadow-ui) inset;
    border-top: 1px solid var(--background-modifier-border);
}
.is-phone .prompt {
    width: 80%;
    height: 80%;
    border-radius: var(--radius-m);
}

/* hide sidebar button */
.is-phone .view-header .view-action[aria-label="Expand"] {
    display: none;
}

/* fix modal settings items */
.is-phone .modal.mod-settings .vertical-tab-nav-item {
    background-color: transparent;
}

/* fix image scaling */
.is-mobile img {
    width: 100%;
    min-width: unset;
}

/* bring tabs back */
.is-phone .workspace-tab-header-container {
    display: flex;
    padding: 0px 3px !important;
}
.is-mobile .workspace-tab-header.is-active.mod-active {
    width: fit-content;
    height: fit-content;
    padding: 2px;
}
.is-mobile .workspace-tab-header-inner * {
font-size: 0.65em;
padding: 0px;
}
.is-mobile .workspace-tab-header.is-active .workspace-tab-header-inner-close-button {
    display: flex;
}
.is-mobile .workspace-tab-header .workspace-tab-header-inner-close-button {
    display: none;
}
.is-mobile .sidebar-toggle-button {
    display: none;
}
.is-mobile .workspace-tab-header-container {
    margin-bottom: 0px;
}
